<div>
    <div class="modal" id="change-password-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">비밀번호 변경</h4>
                </div>
                <div class="modal-body">
                    <p>현재 설정된 평가대상과 이미 평가한 평가대상이 다릅니다. </p>
                    <p>현재 평가대상이 아닌 평가정보를 삭제하시겠습니까?</p>
                </div>
                <div class="modal-footer">
{#                    <button type="button" class="btn btn-primary" onclick="location.href=`{% url 'evaluation:eval_form'  eval_rel_no %}`">확인</button>#}
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>