{% load static %}
{% load common_tags %}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#personal_info" data-toggle="tab">개인정보</a></li>
        <li><a href="#project_history" data-toggle="tab">프로젝트 이력</a></li>

    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="personal_info">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Email(ID)</label>

                    <div class="col-sm-10">
                        <span class="form-control" style="border:none;">{{ mem_detail.username }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">이름</label>

                    <div class="col-sm-10">
                        <span class="form-control" style="border:none;">{{ mem_detail.name }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">비밀번호</label>

                    <div class="col-sm-10">
                        <button type="button" data-toggle="modal" data-target="#change-password-modal"
                                class="btn btn-default">비밀번호 변경
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">주소</label>

                    <div class="col-sm-10">
                                    <span class="form-control"
                                          style="border:none;">{{ mem_detail.mem_addr|default:'' }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">가입일</label>

                    <div class="col-sm-10">
                                    <span class="form-control"
                                          style="border:none;">{{ mem_detail.join_dt|default:'' }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">재직구분</label>

                    <div class="col-sm-10">
                                    <span class="form-control"
                                          style="border:none;">{{ mem_detail.mem_stat_cd|get_code_nm }}</span>
                    </div>
                </div>
            </form>
            {% include 'auth/change_password_modal.html' %}
            <hr/>
            <div>
                <h4>취득 자격증정보</h4>
                <div class="table-responsive" style="overflow: auto; max-height: 150px;">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>자격증명</th>
                            <th>기관</th>
                            <th>취득일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <hr/>
            <div>
                <h4>이수 교육정보</h4>
                <div class="table-responsive" style="overflow: auto; max-height: 150px;">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>교육과정명</th>
                            <th>기관</th>
                            <th>이수일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">
                                데이터 준비중입니다.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr/>

        </div>

        <!-- /.tab-pane -->
        <div class="tab-pane" id="project_history">
            <div>
                <h4>참여 프로젝트정보</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>프로젝트명</th>
                        <th>기관</th>
                        <th>기간</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center" colspan="4">
                            데이터 준비중입니다.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.tab-pane -->


        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>