{% load static %}
{% load common_tags %}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#settings" data-toggle="tab">개인정보</a></li>
        <li><a href="#timeline" data-toggle="tab">활동이력</a></li>

    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="settings">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Email(ID)</label>

                    <div class="col-sm-10">
                        <span class="form-control" style="border:none;">{{ mem_detail.username }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">이름</label>

                    <div class="col-sm-10">
                        <span class="form-control" style="border:none;">{{ mem_detail.name }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">비밀번호</label>

                    <div class="col-sm-10">
                        <button type="button" data-toggle="modal" data-target="#change-password-modal"
                                class="btn btn-default">비밀번호 변경
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">주소</label>

                    <div class="col-sm-10">
                                    <span class="form-control"
                                          style="border:none;">{{ mem_detail.mem_addr|default:'' }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">가입일</label>

                    <div class="col-sm-10">
                                    <span class="form-control"
                                          style="border:none;">{{ mem_detail.join_dt|default:'' }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">재직구분</label>

                    <div class="col-sm-10">
                                    <span class="form-control"
                                          style="border:none;">{{ mem_detail.mem_stat_cd|get_code_nm }}</span>
                    </div>
                </div>
            </form>
            {% include 'auth/change_password_modal.html' %}
            <hr/>
            <div>
                <h4>취득 자격증정보</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>자격증명</th>
                        <th>기관</th>
                        <th>취득일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            정보처리기사
                        </td>
                        <td>
                            기관
                        </td>
                        <td>
                            2022-02-02
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr/>
            <div>
                <h4>이수 교육정보</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>교육과정명</th>
                        <th>기관</th>
                        <th>이수일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Spring framework 교육
                        </td>
                        <td>
                            기관
                        </td>
                        <td>
                            2022-02-02
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr/>
            <div>
                <h4>참여 프로젝트정보</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>프로젝트명</th>
                        <th>기관</th>
                        <th>기간</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            KISTEP 다차원네트워크 분석 시스템 구축(1차)
                        </td>
                        <td>
                            KISTEP
                        </td>
                        <td>
                            2022-02-02 ~ 2023-03-01
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- /.tab-pane -->
        <div class="tab-pane" id="timeline">
            <!-- The timeline -->
            <ul class="timeline timeline-inverse">
                <!-- timeline time label -->
                <li class="time-label">
                        <span class="bg-red">
                          10 Feb. 2014
                        </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-envelope bg-blue"></i>

                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                        <div class="timeline-body">
                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                            quora plaxo ideeli hulu weebly balihoo...
                        </div>
                        <div class="timeline-footer">
                            <a class="btn btn-primary btn-xs">Read more</a>
                            <a class="btn btn-danger btn-xs">Delete</a>
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-user bg-aqua"></i>

                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                        <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your
                            friend request
                        </h3>
                    </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-comments bg-yellow"></i>

                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                        <div class="timeline-body">
                            Take me to your leader!
                            Switzerland is small and neutral!
                            We are more like Germany, ambitious and misunderstood!
                        </div>
                        <div class="timeline-footer">
                            <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline time label -->
                <li class="time-label">
                        <span class="bg-green">
                          3 Jan. 2014
                        </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-camera bg-purple"></i>

                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                        <div class="timeline-body">
                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div>
        <!-- /.tab-pane -->


        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>