{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    {% include '_meta.html' %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {% include '_header.html' %}
    {% include '_left_aside.html' %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
    </div>
    {% include '_footer.html' %}
    <div class="control-sidebar-bg"></div>
</div>
</body>
</html>