
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title" id="join_pjt_nm">
                    <strong>프로젝트 참여 등록</strong>
                </h3>
            </div>

            <form class="form-horizontal" id="join_pjt_form">
                {% csrf_token %}
                <div class="box-body">
                    <!-- pjt_no hidden -->
                    <input type="hidden" value="{{ pjt_no }}" id="pjt_no" name="pjt_no">

                    <!-- 프로젝트 참여 인원 입력 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">이름</label>
                        <div class="input-group col-sm-8 ">
                            <select id="mem_ls" class="form-control" name="mem_no">
                                {%  for mem in mem_ls %}
                                <option value="{{ mem.id }}">
                                    {{ mem.name }}   {{ mem.posi_nm }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- 프로젝트 내 역할 입력 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">역할</label>
                        <div class="input-group col-sm-8">
                            <select class="form-control" name="role_cd">
                                {% for role in role_list %}
                                <option value="{{ role.comm_cd }}">{{ role.cd_nm }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- 참여 시작 및 종료일 입력 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">참여 시작 및 종료일</label>

                        <div class="input-group col-sm-8">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="reservation" name="date_range">
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-success pull-right">저장</button>
                </div>

            </form>
        </div>

        <div id="error_box"></div>


        <div class="box" id="added_pjt_mem_ls">
            {% include 'pjt/pjt_mem_ls_form.html' %}
        </div>
<script>
    $( "#join_pjt_form" ).submit(function( event ) {
        event.preventDefault();
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        })

        let data = $(this).serializeArray();
        data = data.concat([{pjt_no: {{ pjt_no }}}])
        console.log(data)

        $.ajax({
            url: "{% url 'management:create_pjt_join_hist' %}",
            type: "POST",
            datatype: "json",
            data: data
            })
            .done(function (html) {
                $('#added_pjt_mem_ls').html(html)
            })
            .fail(function (xhr, status, errorThrown, html) {
                $('#error_box').html(html)
                }
            )
    })

    function memDelete(join_hist_no, pjt_no, mem_no) {
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
            })


        $.ajax({
            url: "{% url 'management:del_pjt_join_hist' %}",
            type: "POST",
            datatype: "json",
            data: {
                join_hist_no: join_hist_no,
                pjt_no: pjt_no,
                mem_no: mem_no
                }
            })
            .done(function (html) {
                $('#added_pjt_mem_ls').html(html)
            })
            .fail(function (xhr, status, errorThrown, html) {
                $('#error_box').html(html)
                }
            )
    }


    $(function () {
        //Initialize Select2 Elements
        $("#mem_ls").select2();
            //Date range picker
        $('#reservation').daterangepicker();

    })
</script>