{% extends "_layout.html" %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h2 class="box-title">
                        <strong>유클리드 프로젝트 목록</strong>
                    </h2>
                    <button type="button" class="btn btn-block btn-primary btn-sm pull-right" data-toggle="modal" data-target="#AddPjtModal" style="width: 15rem;">
                        프로젝트 추가
                    </button>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-bordered">
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>프로젝트 이름</th>
                        <th>프로젝트 기간</th>
                        <th style="width: 50px"></th>
                    </tr>
                  {% for pjt in pjt_list %}
                      <tr>
                          <td>{{ pjt.pjt_no }}</td>
                          <td>{{ pjt.pjt_nm }}</td>
                          <td>{{ pjt.start_dt }} ~ {{ pjt.end_dt }}</td>
                          <td>
                              <button onclick="doJoinPjtDisplay()" type="button" class="btn btn-block btn-default btn-xs">참여</button>
                          </td>
                      </tr>
                  {% endfor %}

                  </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                </div>
          </div>
        </div>


        <div class="col-md-8" id="join_pjt" style="display: none;">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title" id="join_pjt_nm">
                  <strong>프로젝트 참여 등록</strong>
              </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                    <div class="form-group">
                          <label class="col-sm-2 control-label">이름</label>
                            <div class="input-group col-sm-8">
                                <input type="text" class="form-control" placeholder="홍길동 ...">
                            </div>
                    </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">참여시작 및 종료일</label>
                      <!-- date range -->
                      <div class="input-group col-sm-8">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <input type="text" class="form-control pull-right" id="reservation" >
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label">역할</label>
                      <div class="input-group col-sm-8">
                          <select class="form-control">
                              <option selected="selected">개발자</option>
                              <option>PM</option>
                              <option>PL</option>
                              <option>관리지원</option>
                              <option>연구원</option>
                          </select>
                      </div>

                  </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-success pull-right">저장</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">
                  <strong>프로젝트 참여 인원</strong>
              </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped table-hover">
                <tr>
                    <th style="width: 10px">#</th>
                    <th>역할</th>
                    <th>이름</th>
                    <th>참여기간</th>
                    <th style="width: 40px"></th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>PM</td>
                    <td>송재익</td>
                    <td>01/26/2023 - 01/26/2023</td>
                    <td><button type="submit" class="btn btn-danger pull-right btn-sm">삭제</button></td>
                </tr>
                  <tr>
                    <td>2</td>
                    <td>PL</td>
                      <td>송재익</td>
                    <td>01/26/2023 - 01/26/2023</td>
                    <td><button type="submit" class="btn btn-danger pull-right btn-sm">삭제</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>개발자</td>
                    <td>김민교</td>
                    <td>01/26/2023 - 01/26/2023</td>
                    <td><button type="submit" class="btn btn-danger pull-right btn-sm">삭제</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>개발자</td>
                    <td>김동훈</td>
                    <td>01/26/2023 - 01/26/2023</td>
                    <td><button type="submit" class="btn btn-danger pull-right btn-sm">삭제</button></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>개발자</td>
                    <td>이주희</td>
                    <td>01/26/2023 - 01/26/2023</td>
                    <td><button type="submit" class="btn btn-danger pull-right btn-sm">삭제</button></td>
                </tr>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="AddPjtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><strong>프로젝트 추가</strong></h4>
          </div>
          <div class="modal-body">
            <!-- form start -->
                <form class="form-horizontal"  action="{% url 'management:pjt_list' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                  <div class="box-body">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">프로젝트 이름</label>
                            <div class="input-group col-sm-8">
                                <input type="text" class="form-control" placeholder="프로젝트 이름을 입력해주세요">
                            </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">기관 이름</label>
                            <div class="input-group col-sm-8">
                                <input type="text" class="form-control" placeholder="기관 이름을 입력해주세요">
                            </div>
                        </div>

                      <div class="form-group">
                          <label class="col-sm-2 control-label">시작 및 종료일</label>
                          <!-- date range -->
                          <div class="input-group col-sm-8">
                              <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                              </div>
                              <input type="text" class="form-control pull-right" id="reservation" >
                          </div>
                      </div>
                  </div>
                  <!-- /.box-body -->
                    <div class="modal-footer" style="padding-bottom: 0">
                        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">저장</button>
                    </div>
                </form>
          </div>
        </div>
      </div>
    </div>


</section>


<script>
    function doJoinPjtDisplay() {
        let join_pjt = document.getElementById('join_pjt')
        if(join_pjt.style.display=="none") {
            join_pjt.setAttribute('style', 'display: block');
        } else {
            join_pjt.setAttribute('style', 'display: none');
        }
    }

    function doAddPjtDisplay() {
        let add_pjt_modal = document.getElementById('add_pjt_modal')
        console.log(add_pjt_modal.style.display)
        if(add_pjt_modal.style.display=='none') {
            add_pjt_modal.style.display = 'block';
        } else {
            add_pjt_modal.style.display = 'none';
        }
    }

    $('#AddPjtModal').on('shown.bs.modal', function () {
      $('#AddPjtModal').focus()
    })

    $(function () {
            //Date range picker
        $('#reservation').daterangepicker();
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
              ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
              },
              startDate: moment().subtract(29, 'days'),
              endDate: moment()
            },
            function (start, end) {
              $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
        );

        //Date picker
        $('#datepicker').datepicker({
          autoclose: true
        });
    })
</script>
{% endblock %}

